
@{
    ViewData["Title"] = "CRUD em .NET";
}

<h1 class="align-items-center align-content-center text-center">Seja bem-vindo ao nosso sistema!</h1>
<hr/>

<h4 class="align-items-center align-content-center text-center">Escolha uma das opções no menu acima.</h4>



