@model Crud_DotNET.Models.Usuario


@{
    ViewData["Title"] = "Cadastrar Funcionário";
}

<h2>Cadastrar Funcionário</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeUsuario" class="control-label">Nome</label>
                <input asp-for="NomeUsuario" class="form-control" />
                <span asp-validation-for="NomeUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idade" class="control-label"></label>
                <input asp-for="Idade" class="form-control" value="" /> 
                <span asp-validation-for="Idade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label">Departamento</label>
                <Select asp-for="Tipo" class="form-control" asp-items=@ViewBag.TiposUsuario>
                <option selected> </option>
                </Select>
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-outline-danger">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
